
.calendar {

    display: grid;
    max-width: 1200px;
    margin: auto;
    background: var(--black);
        display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(100px,100px);
    //grid-auto-flow:  dense;
    padding: 10px;


}


    @media (--small) {


  
.x-1{
  grid-column-end: span 1;
}

.x-2 {
    grid-column-end: span 2;

}

.x-4{
  grid-column-end: span 4;

}

.x-3 {
    grid-column-end: span 3;
 
}

.x-4{
   grid-column-end: span 4;
}

.x-5{
   grid-column-end: span 5;
}


.y-1 {
  grid-row-end:span 1;
}

.y-2{
   
        grid-row-end: span 2;

}

.y-3{

    grid-row-end: span 3;
}


.y-4{

    grid-row-end: span 4;
}


.y-5{

    grid-row-end: span 5;
}

  }


/*=======================================
=            Grid date style            =
=======================================*/

.grid-item , .feature ,.grid{

height:auto;
width:auto;
    border-radius: 3px;
   // overflow: hidden;
    background: var(--purple);
    font-size: 250%;
    position: relative;
    color: #fff;
    display: flex;
 
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .8s;
    background-position: 50% 200%;

    & h1 {
        font-weight: 300;
        position: relative;
           z-index: var(--normal);
        transition: all .5s ease;
        font-family: var(--font-title);
        font-size:5vw;
        letter-spacing:-1px;
        color: var(--purple-muted);
        margin: 0;
        transition-delay: .25s;
    }
}



.today{
  position:relative;
}
.today  h1 {
        
        transition-delay: .5s;
    }




.grid-item:before {
    content: '';
    background: var(--purple-dates);
       z-index: var(--normal);
    position: absolute;
    perspective: 800px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .4s ease;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform-origin:  0% 50%;
}




.grid-item:after {
    content: ''; //background:var(--white);
    // background:url(../images/burst.svg) no-repeat;
    background-size: contain;
    background-position: center;
    height: 1px;
    width: 1px;

    position: absolute;
    transition: all .4s;
}





/*----------  future present past   ----------*/

.future {}

.past:before {
    background: transparent;
}

.past {
transition:all .4s ease;

& h1 {
    opacity: 0;
}
}



.past:hover{

      background-color:  color(var(--purple-muted) tint(20%));



}



.today:hover #date-featured {
background-size:120%;


}



#date-featured {
    height: 100%;
    width: 100%;
    opacity:1;

       z-index: var(--max);
    position: absolute;
    transition: all .5s;
    transition:all .4s ease;
    background: url(../images/burst.svg) no-repeat;
    background-size: 50%;
    background-position: center;
   

}



.today.expanded #date-featured{
  opacity:0;
   transition-delay:.5s;
}

/*=====  End of Grid date style  ======*/

/*==================================
=            open today            =
==================================*/

.expanded.today:before {
    transform: rotateY(-180deg) skew(-2deg);
    box-shadow: 16px 24px 44px rgba(2, 0, 10, .24);
    z-index:1000;
}


.today.expanded h1 {
    opacity: 0;
    transform: rotateY(-90deg) skew(-2deg);

    transform-style: preserve-3d;
    transform-origin:   0% -80%;
    transition-delay: 0s;
}



/*=====  End of open today  ======*/


/*----------  Hover effect peek  ----------*/

a[class^="day-"].future:hover:before,
a[class^="day-"].future h1 {
  transform: rotateY(-30deg);
  transition:all .4s ease;

}

.today.expanded:hover h1{

}
a[class^="day-"]{
   box-shadow: inset 2px 2px 9px rgba(8, 3, 41, 0.94);
}



/*------ end --- */


/*----------  no peek  ----------*/

.no-peek{
    transition:all .4s ease;
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
   position:absolute;
   text-align:center;
    z-index:10;
    top:0;
    opacity:0;
    transition:all .4s ease;
    left:0;
    content:'No Peeking!';

    & h2 {
        font-family:var(--font-body);
        color:var(--white);
        font-size:3vw;
        font-weight:100;
        margin:0;
    }
}


.peek.peek-open .no-peek{

opacity:1;
}

/*------ end --- */



/*==================================
=           Open Effect           =
==================================*/









/*==================================
=            Grid dates            =
==================================*/



.day-1 {
    // grid-row: 1 / 3;
    // grid-column: 1 / 5;
    color:var(--blue-dark);
    background: url(/images/day1.svg)no-repeat, var(--blue-dark);
    background-size: 80%;
    background-position: center;
         @media (--small-only) {
       grid-column-end: span 1;
          grid-row-end: span 2;
        }
    @media (--medium) {
        background-size: 50%;
        // grid-row: 1/4;
        // grid-column: 1/4;
    }


}






.day-2 {
    background: url(/images/day2.svg)no-repeat, var(--rose);
    background-size: 90%;
    background-position: center;

    // grid-row: 1/4;
    // grid-column: 5/9;
          @media (--small-only) {
          grid-column-end: span 4;
grid-row-end: span 2;
}
    @media (--medium) {
        // grid-column: 4/7;
        // grid-row: 1/5;
    }
}

.day-3 {
    background: url(/images/day3.svg)no-repeat, var(--blue-muted);
 background-size: 80%;
    background-position: 30% 1rem;
    // grid-row: 3/4;
    // grid-column: 1/5;
          
    @media (--small-only) {
              grid-row-end: span 2;
                 grid-column-end: span 5;
                 }
                        
    @media (--medium) {
        // grid-row: 1 / 3;
        // grid-column: 7/9;
    }
}

.day-4 {
    background: url(/images/day4.svg)no-repeat, var(--purple-muted);
    background-size: cover;
    background-position: 43% 5rem;
    // grid-row: 4/6;
    // grid-column: 1/7;
          @media (--small-only) {
            grid-column-end: span 5;
          grid-row-end: span 2;
        }
    @media (--medium) {
        // grid-row: 1 / 4;
        // grid-column: 9/13;
    }
}

.photo-1:before {
    background: url(/images/logo.svg) no-repeat;
    background-size: 50%;
    background-position: 110% 1rem;
    opacity: .1;
}


.photo-1{


  background:linear-gradient(45deg, color(var(--purple-dates) alpha(-50%)), color(var(--purple-dates) alpha(-50%))),url(../images/intro.jpg)no-repeat;
  background-size:cover;
  background-position:center;
     @media (--small-only) {
  grid-column-end: span 1;
  grid-row-end: span 3;
}

}


.events-4{
padding:1rem;
padding-left:2rem;
display:flex;

align-items:flex-start;
justify-content:center;
flex-direction:column;
 grid-row-end: span 7;
     @media (--small-only) {
  grid-column-end: span 5;
  grid-row-end: span 6;
}

& h2{
  font-size:2.5rem;
  font-weight:100;
  line-height:2.5rem;
  font-family:var(--font-body);
  margin:0;
  transition:all .4s ease;
}

    & p {
        font-size: 1rem;
        font-family: var(--font-body);
        margin: 0;
      margin-bottom:1rem;
        color: var(--white);
              @media (--medium) {
            max-width:70%;
          }
    }

    & h3 {
        margin: 0;
        font-weight: 100;
        text-transform: uppercase;
        font-size: .75rem;
        font-family: var(--font-title);
        letter-spacing: 3px;
        color: var(--gold);

    }


    & h4 {
        margin: 0;
        margin-top:.25rem;
        font-weight: 100;
        font-size: 1.25rem;
        font-family: var(--font-body);
        color: var(--rose);
        margin-bottom:.5rem;
          @media (--medium) {
            max-width:70%;
          }

    }


    & li {
       margin-top:2rem;
    }

  

& ul {
      -webkit-padding-start: 0px;
  list-style:none;
  margin:0;
}

& p+p{
  margin-top:1rem;
}

}


.service-1 {
    background: var(--gold-muted);
    background-size: cover;
    background-position: center;

    padding: 2rem;
transition:all .4s ease;
      //height:316px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

&:hover {

      background-color:  color(var(--purple-muted) tint(20%));



}

&:hover h3 {
  color:var(--rose);
}

& h3{
  font-size:3rem;
  font-weight:100;
  line-height:2.5rem;
  font-family:var(--font-body);
  margin:0;
  transition:all .4s ease;
}

    & p {
        font-size: 1rem;
        font-family: var(--font-body);
        margin: 0;
        color: var(--white);
    }

    & h4 {
        margin: 0;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-family: var(--font-title);
        letter-spacing: 2px;
        color: var(--white);
    }

    & h4:last-of-type {
        margin-top: 1rem;
    }

   @media (--small-only) {
   grid-column-end: span 4;
      grid-row-end: span 3;
}


      // grid-row: 10/12;
    // grid-column: 1/9;
    @media (--medium) {
        // grid-row: 4/8;
        // grid-column: 1/4;
    }
}





.day-5 {
    background: url(/images/day5.svg)no-repeat, var(--blue-muted);
    background-size: 50%;
    background-position: center;
        // grid-row: 4/6;

   @media (--small-only) {
   grid-column-end: span 1;
      grid-row-end: span 2;
   }

    @media (--medium) {
   // grid-row: 5 / 7;

    // grid-column: 4/7;
    }
}


.day-6 {
    background: url(/images/day6.svg)no-repeat, var(--blue-dark);
    background-size: cover;
    background-position: center;
        // grid-row: 6/8;
    // grid-column: 1/5;
       @media (--small-only) {
   grid-column-end: span 4;
      grid-row-end: span 3;
   }
    @media (--medium) {
            // grid-row: 7 / 9;
        // grid-column: 4/7;
    }
}


.day-7 {
    background: url(/images/day7.svg)no-repeat, var(--purple-muted);
    background-size: cover;
    background-position: center;
            // grid-row: 6/8;
    // grid-column: 5/9;
           @media (--small-only) {
   grid-column-end: span 1;
      grid-row-end: span 2;
   }
    @media (--medium) {
        // grid-row: 3 / 6;
        // grid-column: 7/9;
    }
}


.day-8 {
    background: url(/images/day8.svg)no-repeat, var(--purple);
    background-size: cover;
    background-position: center;
           // grid-row: 8/10;
    // grid-column: 1/6;
               @media (--small-only) {
   grid-column-end: span 4;
      grid-row-end: span 1;
   }
    @media (--medium) {
        // grid-row: 4 / 6;
        // grid-column: 9/13;
    }
}

.day-9 {
    background: url(/images/day9-bg.svg)no-repeat,url(/images/day9.svg)no-repeat, var(--purple-muted);
    background-size: cover,contain;
    background-position: center;
      // grid-row: 8/10;
    // grid-column: 6/9;
                   @media (--small-only) {
   grid-column-end: span 5;
      grid-row-end: span 2;
   }
    @media (--medium) {
 // grid-row: 8 / 11;
    // grid-column: 1/4;
    }
}


.day-10 {
    background: url(/images/day10.svg)no-repeat, var(--blue-dark);
    background-size: 60%;
    background-position: center;
     // grid-row: 14/16;
    // grid-column: 1/6;
                       @media (--small-only) {
   grid-column-end: span 5;
      grid-row-end: span 4;
   }
    @media (--medium) {
        // grid-row: 9 / 11;
        // grid-column: 4/7;
    }
}


.day-11 {
    background: url(/images/day11.svg)no-repeat, url(/images/day11bg.svg)no-repeat, var(--rose);
    background-size: 30%, cover;
    background-position: center;
          // grid-row: 14/16;
    // grid-column: 6/9;
               @media (--small-only) {
   grid-column-end: span 1;
      grid-row-end: span 4;
   }
    @media (--medium) {
        // grid-row: 11/13;
        // grid-column: 3/7;
    }
}

.worship-10:before {
    background: transparent;
}

.worship-10 {
    background: linear-gradient(45deg, color(var(--purple-dates) alpha(-30%)), color(var(--purple-dates) alpha(-30%))), url(/images/day-1--photo.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: .25rem;
    flex-direction:column;
       
          // grid-row: 12/14;
    // grid-column: 1/9;
& span{
  font-family:var(--font-title);
  letter-spacing:4px;
  font-weight:100;
  font-size:.75rem;

}
    & h2 {
        font-weight: 100;
        margin-top:.5rem;
        font-family: var(--font-body);
        color: var(--white);
        margin-bottom:0rem;
        font-size: 1.5rem;


        @media (--medium) {
            max-width: 50%;
          
        }
    }
           @media (--small-only) {
   grid-column-end: span 5;
      grid-row-end: span 4;
   }

    @media (--medium) {
        padding: 2rem;
        align-items: flex-start;
        justify-content: flex-end;
        background-size: cover, 120%;
        background-position: center, -5rem -2rem;
        // grid-row: 6 / 10;
        // grid-column: 7/13;
    }
}

.cta-11:before {
    background: transparent;
}

.cta-11 {
    background: linear-gradient(45deg, color(var(--purple-dates) alpha(-60%)), color(var(--purple-dates) alpha(-60%))), url(/images/day16-photo.jpg)no-repeat;
    background-size: cover;
    background-position: center;
        // grid-row: 16/19;
    // grid-column: 6/9;
                   @media (--small-only) {
   grid-column-end: span 4;
      grid-row-end: span 3;
   }
    @media (--medium) {

        // grid-row: 11/14;
        // grid-column: 1/3;
    }
}


.day-12 {
    background: url(/images/day12.svg)no-repeat, var(--blue-muted);
    background-size: 70%;
    background-position: center;
      // grid-row: 16/19;
    // grid-column: 1/6;
                       @media (--small-only) {
   grid-column-end: span 4;
      grid-row-end: span 2;
   }
    @media (--medium) {
        // grid-row: 10/13;
        // grid-column: 7/10;
    }
}

.day-13 {
      background: url(/images/day13.svg)no-repeat, var(--purple-muted);
    background-size: 70%;
    background-position: center;
       // grid-row: 19/21;
    // grid-column: 1/6;
                       @media (--small-only) {

      grid-row-end: span 2;
   }
    @media (--medium) {
        // grid-row: 10/14;
        // grid-column: 10/13;
    }
}

.day-14 {

        background: url(/images/day14.svg)no-repeat, var(--blue-muted);
    background-size: 70%;
    background-position: center;
          // grid-row: 19/22;
    // grid-column: 6/9;
                           @media (--small-only) {
   grid-column-end: span 1;
      grid-row-end: span 3;
   }
    @media (--medium) {
        // grid-row: 14/16;
        // grid-column: 1/3;
    }
}


.day-15 {
         // grid-row: 21/24;
    // grid-column: 1/6;
          background: url(/images/day15.svg)no-repeat, var(--blue-dark);
    background-size: 70%;
    background-position: center;
                           @media (--small-only) {
   grid-column-end: span 1;
      grid-row-end: span 2;
   }
    @media (--medium) {
        // grid-row: 13/16;
        // grid-column: 3/7;
    }
}


.photo-16:before {
    background: transparent;
}

.photo-16 {
    background: linear-gradient(45deg, color(var(--purple-dates) alpha(-70%)), color(var(--purple-dates) alpha(-70%))), url(/images/vertical_pray.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    // grid-row: 24/27;
    // grid-column: 1/9;
                           @media (--small-only) {
   grid-column-end: span 4;
      grid-row-end: span 2;
   }
    @media (--medium) {
        // grid-row: 13/16;
        // grid-column: 7/10;
    }
}


.day-16 {
     // grid-row: 22/24;
    // grid-column: 6/9;
              background: url(/images/day16.svg)no-repeat, var(--rose);
    background-size: cover;
    background-position: center;
                           @media (--small-only) {
   grid-column-end: span 3;
      grid-row-end: span 2;
   }
    @media (--medium) {
        // grid-row: 14/19;
        // grid-column: 10/13;
    }
}

.worship-17:before {
    background: transparent;
}

.worship-17 {
    background: linear-gradient(45deg, color(var(--purple-dates) alpha(-50%)), color(var(--purple-dates) alpha(-50%))), url(/images/day17-photo.jpg)no-repeat;
    background-size: cover;
    background-position: center;
        // grid-row: 32/34;
    // grid-column: 1/9;
                           @media (--small-only) {
   grid-column-end: span 5;
      grid-row-end: span 2;
   }
    @media (--medium) {
        background-size: cover, cover;
        background-position: center;
        // grid-row: 16/19;
        // grid-column: 1/6;
    }
}


.day-17 {
      // grid-row: 27/30;
    // grid-column: 1/9;
              background: url(/images/day17.svg)no-repeat, var(--blue-dark);
    background-size: cover;
    background-position: center;
                           @media (--small-only) {
   grid-column-end: span 5;
      grid-row-end: span 4;
   }
    @media (--medium) {
        // grid-row: 16/19;
        // grid-column: 6/10;
    }
}


.day-18 {
             background: url(/images/day18.svg)no-repeat, var(--rose);
    background-size: 75%;
    background-position: center;
                           @media (--small-only) {
   grid-column-end: span 5;
      grid-row-end: span 2;
   }
    @media (--medium) {
        // grid-row: 19/23;
        // grid-column: 1/5;
    }
}

.day-19 {
             background: url(/images/day19.svg)no-repeat, var(--purple-muted);
    background-size: cover;
    background-position: center;
                           @media (--small-only) {
   grid-column-end: span 1;
      grid-row-end: span 2;
   }
    @media (--medium) {
        // grid-row: 19/23;
        // grid-column: 5/9;
    }
}

.day-20 {
             background: url(/images/day20.svg)no-repeat, var(--blue-muted);
    background-size:cover;
    background-position: center;
                           @media (--small-only) {
   grid-column-end: span 4;
      grid-row-end: span 2;
   }
    @media (--medium) {
        // grid-row: 19/23;
        // grid-column: 9/13;
    }
}


.day-21 {
           background: url(/images/day21.svg)no-repeat, var(--blue-muted);
    background-size:90%;
    background-position: center;
                           @media (--small-only) {
   grid-column-end: span 1;
      grid-row-end: span 2;
   }
    @media (--medium) {
        // grid-row: 23/28;
        // grid-column: 1/5;
    }
}

.photo-21:before {
    background: transparent;
}

.photo-21 {
    background: linear-gradient(45deg, color(var(--purple-dates) alpha(-60%)), color(var(--purple-dates) alpha(-60%))), url(/images/horizontalchoir.jpg)no-repeat;
    background-size: cover;
    background-position: center;
      // grid-row: 37/39;
    // grid-column: 6/9;
                           @media (--small-only) {
   grid-column-end: span 5;
      grid-row-end: span 2;
   }
    @media (--medium) {
        // grid-row: 23/29;
        // grid-column: 5/13;
    }
}




.day-22 {
          background: url(/images/day22.svg)no-repeat, var(--blue-dark);
    background-size:cover;
    background-position: center;
                               @media (--small-only) {
   grid-column-end: span 4;
      grid-row-end: span 4;
   }
    @media (--medium) {
        // grid-row: 28/32;
        // grid-column: 1/5;
    }
}



.day-23 {
          background: url(/images/day23.svg)no-repeat, url(/images/day23-bg.svg)no-repeat,var(--rose);
    background-size:70%,cover;
    background-position: center;
                               @media (--small-only) {

      grid-row-end: span 2;
   }
    @media (--medium) {
        // grid-row: 29/32;
        // grid-column: 5/13;
    }
}

.photo-24:before {
    background: transparent;
}

.photo-24 {
    background: linear-gradient(45deg, color(var(--purple-dates) alpha(-60%)), color(var(--purple-dates) alpha(-60%))), url(/images/horizontalfamily.jpg)no-repeat;
    background-size: cover;
    background-position: center;
          // grid-row: 42/45;
    // grid-column: 1/9;
                               @media (--small-only) {
   grid-column-end: span 5;
      grid-row-end: span 2;
   }
    @media (--medium) {
        // grid-row: 32/37;
        // grid-column: 1/13;
    }
}


.day-24 {
          background: url(/images/day24.svg)no-repeat,var(--purple-muted);
    background-size:cover;
    background-position: center;
                               @media (--small-only) {
   grid-column-end: span 5;
      grid-row-end: span 4;
   }
    @media (--medium) {
        // grid-row: 37/41;
        // grid-column: 1/6;
    }
}





/*=====  End of Grid dates  ======*/