.calendar {
    padding: 2rem;
    display: grid;
    grid-gap: 20px;
    max-width: 1200px;
    margin: auto;
    background: var(--black);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(1fr, 500px);
    grid-auto-rows: 30vh;
    @media (--medium) {
        grid-template-columns: repeat(12, 1fr);
 grid-auto-rows: 10vh;

    }
}




.grid-item {

    border-radius: 3px;
    overflow: hidden;
    background: var(--purple);
    font-size: 250%;
    position: relative;
    color: #fff;
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .8s;
    background-position: 50% 200%;


    & h1 {
        position: relative;
        z-index: 5;
        transition: all .4s ease;
        font-family: var(--font-body);
        color: var(--purple-muted);
    }
}






.grid-item:before {
    content: '';
    background: var(--purple-dates);
    z-index: 2;
    position: absolute;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .4s ease;
}




.expanded.grid-item:before {
    transform: translateY(-100%);
}





.grid-item:after {
    content: ''; //background:var(--white);
    // background:url(../images/burst.svg) no-repeat;
    background-size: contain;
    background-position: center;
    height: 1px;
    width: 1px;

    position: absolute;
    transition: all .4s;
}





/*----------  Hover effect  ----------*/

div[class^="day-"]:hover:before,
div[class^="day-"]:hover h1,
div[class^="day-"]:hover .today {
    transform: translateY(-30%);
}

/*------ end --- */


.today {
    height: 100%;
    width: 100%;


    background: url(../images/burst.svg) no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 9999;
    position: absolute;
    transition: all .4s;
}



.expanded.grid-item:after {
    content: '';
    //transform: scale(3000);
    position: absolute;
    transition: all 1s;
}


.expanded.grid-item .today {
    transform: scale(100);
    transition: all 1s;
}

.expanded.grid-item:after {
    z-index: 100;
}




.grid-item.expanded {


    & h1 {
        opacity: 0;
    }
}




/*==================================
=            Grid dates            =
==================================*/

.grid-item:nth-child(1) {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    @media (--medium) {
       grid-row: 1/4;
    grid-column: 1/4;
    }
}




.grid-item:nth-child(2) {
    @media (--medium) {
grid-column: 4/7;
    grid-row: 1/5;
    }
}

.grid-item:nth-child(3) {
    @media (--medium) {
     grid-row: 1 / 3;
    grid-column: 7/9;

    }
}

.grid-item:nth-child(4) {
    @media (--medium) {
        grid-row: 1 / 4;
    grid-column: 9/13;
    }
}

.grid-item:nth-child(5) {
    @media (--medium) {
    grid-row: 4/6;
    grid-column: 1/4;
    }
}

.grid-item:nth-child(6) {
    @media (--medium) {
          grid-row: 6 / 8;

    grid-column: 2/4;
    }
}


.day-6 {
    @media (--medium) {
grid-row: 5 / 9;
    grid-column: 4/7;
    }
}


.day-7 {
    @media (--medium) {
    grid-row: 3 / 6;
    grid-column: 7/9;
    }
}


.day-8 {
    @media (--medium) {
      grid-row: 4 / 6;
    grid-column: 9/13;
    }
}

.day-9 {
    @media (--medium) {
      grid-row: 8 / 11;
    grid-column: 2/4;

    }
}


.day-10 {
    @media (--medium) {
  grid-row: 9 / 11;
    grid-column: 4/7;
    }
}


.day-11 {
    @media (--medium) {
grid-row: 11/13;
    grid-column: 3/7;
    }
}


.worship-10 {
    @media (--medium) {
grid-row: 6 / 10;
    grid-column: 7/13;
    }
}


.cta-11 {
    @media (--medium) {
    grid-row: 11/14;
    grid-column: 1/3;

    }
}


.day-12 {
    @media (--medium) {
    grid-row: 10/13;
    grid-column: 7/10;

    }
}

.day-13 {
    @media (--medium) {
grid-row: 10/14;
    grid-column: 10/13;

    }
}

.day-14 {
    @media (--medium) {
    grid-row: 14/16;
    grid-column: 1/3;

    }
}


.day-15 {
    @media (--medium) {
    grid-row: 13/16;
    grid-column: 3/7;

    }
}


.photo-16 {
    @media (--medium) {
    grid-row: 13/16;
    grid-column: 7/10;


    }
}


.day-16 {
    @media (--medium) {
        grid-row: 14/19;
    grid-column: 10/13;

    }
}


.worship-17 {
    @media (--medium) {
  grid-row: 16/19;
    grid-column: 1/6;

    }
}


.day-17 {
    @media (--medium) {
    grid-row: 16/19;
    grid-column: 6/10;

    }
}


.day-18 {
    @media (--medium) {
    grid-row: 19/23;
    grid-column: 1/5;

    }
}

.day-19 {
    @media (--medium) {
  grid-row: 19/23;
    grid-column: 5/9;

    }
}

.day-20 {
    @media (--medium) {
  grid-row: 19/23;
    grid-column: 9/13;

    }
}


.day-21 {
    @media (--medium) {
grid-row: 23/28;
    grid-column: 1/5;

    }
}


.photo-21 {
    @media (--medium) {
grid-row: 23/29;
    grid-column: 5/13;

    }
}




.day-22 {
    @media (--medium) {
    grid-row: 28/32;
    grid-column: 1/5;

    }
}



.day-23 {
    @media (--medium) {
    grid-row: 29/32;
    grid-column: 5/13;

    }
}


.photo-24{
    @media (--medium) {
       grid-row: 32/35;
    grid-column: 1/13;


    }
}


.day-24{
    @media (--medium) {
       grid-row: 35/40;
    grid-column: 1/6;


    }
}


/*=====  End of Grid dates  ======*/