.no-scroll{
	overflow:hidden;

}



.day__content{

	transform:translateY(200vh);
	position:fixed;
	width:100vw;
	min-height:100vh;
	   z-index: 99999999;

	transition:all 1s ease;

	background:var(--blue-dark);
	display:flex;
	align-items:center;
	justify-content:center;
	padding:2rem;
overflow-y: scroll;
   top: 0; right: 0; bottom: 0; left: 0; 


}




.day__content.box-close{

	transform:translateY(0vh);
}


/* Page content */


.quote{
	width:50%;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}


.quote p {
	font-family:var(--font-body);
	font-size:1.25rem;
	letter-spacing:2px;
	color:var(--black);
}

p.quote__intro {
	font-family: var(--font-body);
	font-size:2vw;
	color:var(--gold-muted);
}




@media screen and (max-width: 50em) {
	.quote__intro {
		font-size: 5vw;
		text-align: center;
		padding: 0.5em;
	}
}




.day-2 .day__content{
	background:var(--rose);
}

.day-3 .day__content{
	background:var(--blue);

	& .quote__intro{
	color:var(--blue-dark);
	}

	& img{
		width:40%;
		
	}
}

