{{ partial "head" . }}
{{ partial "header" . }}


<main>

<div data-aos-duration="3000" data-aos="fade-up"  data-aos-offset="300" class="banner__quote"><blockquote>Bethlehem is not the end of our journey but only the beginning - not home but the place through which we must pass if ever we are to reach home at last. </blockquote>



</div>

<div class="wrapper">

<div class="calendar" >

<!--==============================
=            Calendar            =
===============================-->

          <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div> 
                
<div class="video-1 grid feature">
	<iframe src="https://player.vimeo.com/video/244879739?title=0&byline=0&portrait=0" width="100%" height="360px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>	
<div data-date="2017-12-1" class="day-1 past grid grid-item">
	<h1>1</h1>
	<div class="day__content">
		<div class="quote">
		<p class="quote__intro">We are so excited to begin this Advent season of preparation and celebration
together. Check back each day to hear more about Lakeridge’s heart for Advent and why we
encourage you and your family to participate!</p>
</div>
	</div>
</div>


<div class="feature grid photo-1"></div>
<div data-date="2017-12-2" class="day-2 today grid grid-item"><h1>2</h1>
	<div class="day__content">
		<div class="quote">
		<p class="quote__intro">In a season of holiday haste and hustle, Advent causes us to slow down and
prepare. In a world of darkness and violence, the Church proclaims a message of light and
hope. In a world of division and fear, the coming of the Christ child reminds us of the healing
power of love.</p>

<p>
Whether or not you or your family have celebrated the Advent season before, we
encourage you to take a few minutes of your day to read more about it and the reasons why
we might strive to incorporate it into our daily routines this December.
</p>

<p>
We also encourage you and your family to <a href="lakeridgeumc.org">join us</a> at one of our services tomorrow as we
reflect and worship together as a community.</p>


<h3><a href="http://www.umc.org/what-we- believe/what-is-advent">What is Advent?</a>
<h3><a href="https://www.desiringgod.org/articles/seven-reasons- to-celebrate-advent">Reasons To Celebrate</a></h3>
</div>
	</div></div>
<div data-date="2017-12-3" class="day-3 grid grid-item"><h1>3</h1>

	<div class="day__content">
		<div class="quote">
			<img src="images/wreath1.svg">
		<p class="quote__intro">As we light the first candle of Advent, we take time to reflect on the Jews’ longing for a
Messiah and we rejoice together at the remembrance of Christ’s coming to earth. Click the
link below to download a free wallpaper graphic for your desktop or phone as a daily
reminder of God’s provision and faithfulness!
</p>

</div>
	</div>
</div>

<div data-date="2017-12-4" class="day-4 grid grid-item"><h1>4</h1></div>



<div data-date="2017-12-5" class="day-5 grid grid-item"><h1>5</h1></div>
<div  class="feature grid service-1">
<div>
	<h3>Sunday Services</h3>
	<h4>New Traditions</h4>
	<p>Sundays at 9:15 a.m. and 10:30 a.m.</p>
</div>
<div>
<h4>Praise</h4>
<p>
Sundays at 10:30 a.m.</p>
</div>
</div>
<div data-date="2017-12-6" class="day-6 grid grid-item"><h1>6</h1></div>
<div data-date="2017-12-7" class="day-7 grid grid-item"><h1>7</h1></div>
<div data-date="2017-12-8" class="day-8 grid grid-item"><h1>8</h1></div>
<div data-date="2017-12-9" class="day-9 grid grid-item"><h1>9</h1></div>
<div data-date="2017-12-10" class="day-10 grid grid-item"><h1>10</h1></div>
<div  class="feature  grid worship-10"><span>Our Mission</span><h2>Connecting generations with Jesus to impact our world.</h2></div>

<div data-date="2017-12-11" class="day-11 grid grid-item"><h1>11</h1></div>
<div data-date="2017-12-12" class="day-12 grid grid-item"><h1>12</h1></div>
<div data-date="2017-12-13" class="day-13 grid grid-item"><h1>13</h1></div>
<div  class="feature  grid cta-11"></div>
<div data-date="2017-12-14" class="day-14 grid grid-item"><h1>14</h1></div>
<div data-date="2017-12-15" class="day-15 grid grid-item"><h1>15</h1></div>
<div class="feature grid  photo-16"></div>
<div data-date="2017-12-16" class="day-16 grid grid-item"><h1>16</h1></div>
<div data-date="2017-12-17" class="day-17 grid grid-item"><h1>17</h1></div>

<div  class="feature  grid  worship-17"></div>
<div data-date="2017-12-18" class="day-18 grid grid-item"><h1>18</h1></div>
<div data-date="2017-12-19" class="day-19 grid grid-item"><h1>19</h1></div>
<div data-date="2017-12-20" class="day-20 grid grid-item"><h1>20</h1></div>

<div data-date="2017-12-21" class="day-21 grid grid-item"><h1>21</h1></div>
<div  class="feature  grid photo-21"></div>

<div data-date="2017-12-22" class="day-22 grid grid-item"><h1>22</h1></div>
<div data-date="2017-12-23" class="day-23 grid grid-item"><h1>23</h1></div>
<div data-date="2017-12-24" class="day-24 grid grid-item"><h1>24</h1></div>
<div  class="feature  grid photo-24"></div>




<!--====  End of Calendar  ====-->
</div>
</div>

</main>

{{ partial "footer" . }}
