{{ partial "head" . }}
{{ partial "header" . }}


<main>


	

<div class="calendar">

<!--==============================
=            Calendar            =
===============================-->


<div data-date="2017-11-30" class="day-1 grid-item">
	<h1>1</h1>
	<div class="day__content">
		<div class="quote">
		<p>We are so excited to begin this Advent season of preparation and celebration
together. Check back each day to hear more about Lakeridge’s heart for Advent and why we
encourage you and your family to participate!</p>
</div>
	</div>
</div>

<div data-date="2017-12-2" class="day-2 grid-item"><h1>2</h1></div>
<div data-date="2017-12-3" class="day-3 grid-item"><h1>3</h1></div>

<div data-date="2017-12-4" class="day-4 grid-item"><h1>4</h1></div>
<div  class="feature photo-1">
<div>
	<h4>New Traditions</h4>
	<p>Sundays at 9:15 a.m. and 10:30 a.m.</p>
</div>
<div>
<h4>Praise</h4>
<p>
Sundays at 10:30 a.m.</p>
</div>
</div>
<div data-date="2017-12-5" class="day-5 grid-item"><h1>5</h1></div>
<div data-date="2017-12-6" class="day-6 grid-item"><h1>6</h1></div>
<div data-date="2017-12-7" class="day-7 grid-item"><h1>7</h1></div>
<div data-date="2017-12-8" class="day-8 grid-item"><h1>8</h1></div>
<div data-date="2017-12-9" class="day-9 grid-item"><h1>9</h1></div>
<div data-date="2017-12-10" class="day-10 grid-item"><h1>10</h1></div>
<div  class="feature  worship-10"><h2>Connecting generations with Jesus to impact our world.</h2></div>
<div  class="feature  cta-11"></div>
<div data-date="2017-12-11" class="day-11 grid-item"><h1>11</h1></div>
<div data-date="2017-12-12" class="day-12 grid-item"><h1>12</h1></div>
<div data-date="2017-12-13" class="day-13 grid-item"><h1>13</h1></div>
<div data-date="2017-12-14" class="day-14 grid-item"><h1>14</h1></div>
<div data-date="2017-12-15" class="day-15 grid-item"><h1>15</h1></div>
<div class="feature   photo-16"></div>
<div data-date="2017-12-16" class="day-16 grid-item"><h1>16</h1></div>
<div data-date="2017-12-17" class="day-17 grid-item"><h1>17</h1></div>
<div  class="feature   worship-17"></div>
<div data-date="2017-12-18" class="day-18 grid-item"><h1>18</h1></div>
<div data-date="2017-12-19" class="day-19 grid-item"><h1>19</h1></div>
<div data-date="2017-12-20" class="day-20 grid-item"><h1>20</h1></div>
<div data-date="2017-12-21" class="day-21 grid-item"><h1>21</h1></div>
<div  class="feature  photo-21"></div>
<div data-date="2017-12-22" class="day-22 grid-item"><h1>22</h1></div>
<div data-date="2017-12-23" class="day-23 grid-item"><h1>23</h1></div>
<div data-date="2017-12-24" class="day-24 grid-item"><h1>24</h1></div>
<div  class="feature   photo-24"></div>

<!--====  End of Calendar  ====-->

</div>


</main>

{{ partial "footer" . }}
